<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ user.name }}'的观影单</title>
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img src="{{ url_for('static', filename='/images/earth.png')}}" alt="avatar" class="avatar">
        {{ user.name }}的观影单
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">首页</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('settings') }}">设置</a></li>
                <li><a href="{{ url_for('logout') }}">退出登录</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">登录</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2022 <a href="#">Orange Flask</a></small>
    </footer>
</body>
</html>